= link_to 'Logout', "/sessions/1", :confirm => 'Are you sure?', :method => :delete

%h1 Listing tickets

%nav
  =link_to 'New', backend_tickets_path(:scope => "new")
  =link_to 'Open', backend_tickets_path(:scope => "open")
  =link_to 'On Hold', backend_tickets_path(:scope => "hold")
  =link_to 'Closed', backend_tickets_path(:scope => "closed")

= form_tag search_backend_tickets_path do
  = label_tag :search, "Search:"
  = text_field :search, "search"
  = submit_tag "Submit"

= render "table"
