= link_to 'Logout', "/sessions/1", :confirm => 'Are you sure?', :method => :delete

%p
  %b Customer name:
  = @ticket.customer_name
%p
  %b Customer mail:
  = @ticket.customer_mail
%p
  %b Department:
  = @ticket.department
%p
  %b Status:
  = @ticket.status.name
%p
  %b Employee:
  = @ticket.employee ? @ticket.employee.login : "None"
%p
  %b Description:
  = @ticket.description

= form_for([:backend ,@ticket]) do |f|
  - if @ticket.errors.any?
    #error_explanation
      %h2
        = pluralize(@ticket.errors.count, "error")
        prohibited this ticket from being saved:
      %ul
        - @ticket.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :status
    %br/
    = f.collection_select :status_id, Status.all, :id, :name
  .field
    = f.label :employee
    %br/
    = f.collection_select :employee_id, Employee.all, :id, :login, :include_blank => (@ticket.employee.nil?)
    
  = fields_for @reply do |reply_f|
    .field
      = reply_f.label :text, "Comment:"
      %br/
      = reply_f.text_area :text
    
  .actions
    = f.submit
    

- unless @ticket.replies.nil?
  - @ticket.replies.order("created_at DESC").each do |reply|
    .reply
      %p
        At
        = reply.created_at
        by
        = reply.author
      -unless reply.meta.nil? || reply.meta.empty?
        %pre= reply.meta
      %p= reply.text
        

=link_to 'Back', backend_tickets_path(:scope => @scope)
