%p#notice= notice
%p
  %b Customer name:
  = @ticket.customer_name
%p
  %b Customer mail:
  = @ticket.customer_mail
%p
  %b Question subject:
  = @ticket.subject
%p
  %b Department:
  = @ticket.department
%p
  %b Status:
  = @ticket.status
%p
  %b Responsible:
  = @ticket.employee || "None"
%p
  %b Description:
  %br/
  = @ticket.description

=link_to 'Back', tickets_path
